<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}Benvenuto al fusolab{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>  
  <script type="text/javascript" src="/static/js/jquery-ui-1.8.23.custom.min.js"></script>  
  <script type="text/javascript"> 
  $(function() {
          $( "#id_born_date" ).datepicker({dateFormat: 'dd/mm/yy'});
  });
  </script>
 {% block js %} 
 {% endblock %}
</head>

<body id="">
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/index.html">Fusolab<span class="logo_colour">2.0</span></a></h1>
          <h2>Laboratorio Creativo</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="/">Home</a></li>
            
        {% if user.is_authenticated %}
              <li><a href="/accounts/edit">Modifica Profilo</a></li>
              <li><a href="/accounts/logout">Logout</a></li>
        {% else %}
              <li><a href="/accounts/register">Registrati</a></li>
              <li><a href="/accounts/login">Log-in</a></li>
        {% endif %}
          
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
     
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            {% block sidebar %}
                <h3>Che cos'e' il fusolab?</h3>
                <p>    
                Oltre che sede romana della web-radio libera <a href="http://www.fusoradio.net">www.fusoradio.net</a> il Fusolab è un'associazione nata nel 2006 senza scopo di lucro e sita in via G. Pitacco 20 a Roma (Prenestina).<br />
                L'associazione intende sviluppare e diffondere una visione critica, alternativa e antagonista del modello sociale culturale ed economico vigente, attraverso la condivisione di spazi, conoscenze e strumenti che si maturi e concretizzi tramite l'analisi la ricerca e l'azione diretta nei seguenti ambiti:
                <ul>
                    <li>produzione e organizzazione di iniziative culturali (musica, esposizioni, teatro, cineforum) 
                    <li>consumo critico 
                    <li>sostenibilita' ambientale 
                    <li>snformazione e mezzi di comunicazione 
                    <li>partecipazione attiva alla vita del territorio 
                    <li>intercultura
                    <li>accesso al sapere
                    <li>istruzione.
                </p>
           {% endblock %} 
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
    {% block content %}
    {% endblock %}
      </div>
    </div>
     
    <div id="content_footer"></div>
    <div id="footer">
        Fusolab 2.0 -  Viale della Bella Villa, 94 00172 Roma 
    </div>
  </div>
</body>
</html>
