{% extends "registration/base.html" %}

{% block title %}Tuttapposssto{% endblock %}

{% block content %}
<h1>Profilo editato con successo</h1>
<p>Vuoi tornare alla <a href="/">Home</a>?</p>
{% endblock %}
{% block sidebar %}
<h3>Perche' iscriversi?</h3>

<p>Il fusolab è un'associazione e per legge, per accedere ai locali dell'associazione devi iscriverti</p>
<p>Inoltre iscrivendoti ti invieremo il calendario delle iniziative mensilmente</p>
<p>Infine in un futuro non molto lontano, da questo pannello, se iscritto, potrai interagire con il fusolab...</p>
{% endblock %}
