{% extends "registration/base.html" %}

{% block title %}Iscrizione{% endblock %}
{% block js %}
{% if form.non_field_errors %}
<script src="/static/js/soundmanager2-nodebug-jsmin.js"></script>
<script>
    soundManager.setup({
      url: '/static/swf/',
      flashVersion: 9, // optional: shiny features (default = 8)
      useFlashBlock: false, // optionally, 
      onready: function() {
        // Ready to use; soundManager.createSound() etc. can now be called.
        soundManager.createSound({
          id: 'mySound',
          url: '/static/sound/sitcom.mp3',
          autoLoad: true,
          autoPlay: true,
          onload: function() {
            // alert('The sound '+this.id+' loaded!');
          },
          volume: 100
        });
        // soundManager.play('mySound');
      }
    });
    $(document).ready( function() {
        if ( $('ul.errorlist li:first-child').text().search(/LOL/i) >= 0 ) {
            $('#lol-content').prepend('<img src="/static/images/jackie.jpg" />')
                        $('#form-content').toggle('fast', function() {
                // Animation complete.
                setTimeout(function() {
                    $('#lol-content').empty();
                    $('#form-content').toggle();
                } , 12000);
            });

        } 
    } );
{% endif %}
</script>
{% endblock %}
{% block content %}
<div id="lol-content">
</div>
<div id="form-content">
  {% if form.errors %}
  <p class="errors">Correggi i seguenti errori: {{ form.non_field_errors }}</p>
  {% endif %}

  <h1>Modulo di iscrizione</h1>
  
  <form method="post" action="" class="wide">
    <fieldset>  
	{% csrf_token %}
    <p>
    {{ form.first_name.label_tag }}
      {{ form.first_name }}
      {% if form.first_name.errors %}
        <span class="errors">{{ form.first_name.errors.as_text }}</span>
      {% endif %}
    </p>

    <p>
    {{ form.last_name.label_tag }}
      {{ form.last_name }}
      {% if form.last_name.errors %}
        <span class="errors">{{ form.last_name.errors.as_text }}</span>
      {% endif %}
    </p>

    <p>
    {{ form.born_date.label_tag }}
      {{ form.born_date }}
      {% if form.born_date.errors %}
        <span class="errors">{{ form.born_date.errors.as_text }}</span>
      {% endif %}
    </p>
    <br/>
    <p>
    {{ form.born_place.label_tag }}
      {{ form.born_place }}
      {% if form.born_place.errors %}
        <span class="errors">{{ form.born_place.errors.as_text }}</span>
      {% endif %}
    </p>

    <p>
    {{ form.email.label_tag }}
      {{ form.email }}
      {% if form.email.errors %}
        <span class="errors">{{ form.email.errors.as_text }}</span>
      {% endif %}
    </p>

    <p>
    <div id="ammissione-fusolab">
        Chiede di essere ammesso/a e partecipare in qualita' di socio
        all'Associazione di Promozione Sociale FUSOLAB ONLUS, conferma di aver preso
        visione dello statuto, di accettare e condividerne le finalita' e gli
        obiettivi, di voler collaborare per il raggiungimento dello scopo sociale,
        di essere a conoscenza dei regolamenti interni e di rispettarli. 
        Autorizzo al trattamento dei dati personali ai sensi della L. 675/96 e
        successive modifiche. Dal canto suo l'Associazione di Promozione Sociale
        FUSOLAB ONLUS garantisce l'utilizzo dei dati personali richiesti dal
        presente modulo esclusivamente per lo svolgimento e la gestione delle
        attivita' legate agli scopi dell'associazione.
    </div>
    <br />
    {{ form.accepted_eula.label_tag }}
      {{ form.accepted_eula}}
      {% if form.accepted_eula.errors %}
        <span class="errors">{{ form.accepted_eula.errors.as_text }}</span>
      {% endif %}
    </p>

    <p class="submit"><input class="button green" type="submit" value="Iscriviti &rarr;"></p>
    </fieldset>
  </form>
</div>  
{% endblock %}

{% block sidebar %}
<h3>Perche' iscriversi?</h3>

<p>Il fusolab è un'associazione e per legge, per accedere ai locali dell'associazione devi iscriverti</p>
<p>Inoltre iscrivendoti ti invieremo il calendario delle iniziative mensilmente</p>
<p>Infine in un futuro non molto lontano, da questo pannello, se iscritto, potrai interagire con il fusolab...</p>
<p>E poi non fai la coda quando vieni...</p>
{% endblock %}
