{% extends 'base.html' %}
{% block nav-home %}<li class="active"><a href="{% url 'home' %}"><i class="icon-home"></i> <span class="name">Dashboard</span></a></li>{% endblock %}

{% load usertags %}
{% load salutatoretags %}
{% load baraledtags %}
{% load ingressotags %}
{% load thumbnail %}

{% block 'content' %}
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">Dashboard <small>interagisci col FusoLab!</small></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <section class="widget">
                    <header>
                        <h4>
                            <i class="icon-bullhorn"></i>
                            Frasi lette dal salutatore
                        </h4>
                        <br/>
                        <blockquote>Il salutatore e' quel simpatico pupazzo all'entrata del Fusolab. Scrivi una frase e lui la leggera' per te</blockquote>
                    </header>
                    <div class="body">
                        <div id="salutatore" class="salutatore chat">
                            <div id="salutatore-messages" class="chat-messages">
                                <!-- populated by salutatore.js -->
                            </div>
                            <footer class="chat-footer row">
                                <form action="." method="post">
                                    <div class="col-xs-9">
                                        <input id="new-message" type="text" class="form-control input-transparent" placeholder="Scrivi una frase da far leggere al salutatore...">
                                    </div>
                                    <div class="col-xs-3">
                                        <button type="button" id="new-message-btn" class="btn btn-transparent btn-block">Invia</button>
                                    </div>
                                </form>
                            </footer>
                        </div>
                    </div>
                </section>
                <section class="widget">
                    <header>
                        <h4>
                            <i class="icon-barcode"></i>
                                Bara Led 
                        </h4>
                        <br/>
                        <blockquote>Scrivi qualcosa e comparira' sulla barra led all'ingresso del Fusolab</blockquote>
                    </header>
                    <div class="body">
                        <div id="baraled" class="baraled chat">
                            <div id="baraled-messages" class="chat-messages">
                                <!-- populated by salutatore.js -->
                            </div>
                            <footer class="chat-footer row">
                                <form action="" method="post">
                                    <div class="col-xs-9">
                                        <input id="new-message" type="text" class="form-control input-transparent" placeholder="Scrivi una frase da far comparire sulla barra led...">
                                    </div>
                                    <div class="col-xs-3">
                                        <button type="button" id="new-message-btn" class="btn btn-transparent btn-block">Invia</button>
                                    </div>
                                </form>
                            </footer>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="widget">
                    <header>
                        <h4>
                            <i class="icon-stethoscope"></i>
                            Stato del Fusolab 
                        </h4>
                    </header>
                    <div class="body">
                        <ul class="server-stats">
                            {% entrances as ent %}
                            {% if ent %}
                                <li>
                                    <div class="key pull-right">Persone entrate</div>
                                    <div class="stat">
                                        <div class="info">{{ ent }}</div>
                                        <div class="progress progress-small">
                                            <div class="progress-bar progress-bar-danger" style="width: {% widthratio ent 100 100 %}%;"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    {% alcoholic_l as alc %}
                                    <div class="key pull-right">Litri di alcolici venduti</div>
                                    <div class="stat">
                                        <div class="info">{{ alc }}</div>
                                        <div class="progress progress-small">
                                            <div class="progress-bar progress-bar-success" style="width: {% widthratio al 100 100 %}%;"></div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    {% alcohol_l as al %}
                                    <div class="key pull-right">Litri di alcol in circolazione</div>
                                    <div class="stat">
                                        <div class="info">{{ al }}</div>
                                        <div class="progress progress-small">
                                            <div class="progress-bar" style="width: {% widthratio al 10 100 %}%;"></div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    {% tasso_alcolemico as ta %}
                                    <div class="key pull-right">Tasso alcolemico medio</div>
                                    <div class="stat">
                                        <div class="info">{{ ta }}</i></div>
                                        <div class="progress progress-small">
                                            <div class="progress-bar progress-bar-inverse" style="width: {% widthratio ta 0.1 100 %}%;"></div>
                                        </div>
                                    </div>
                                </li>
                            {% else %}
                                Il fusolab e' chiuso
                            {% endif %}
                        </ul>
                    </div>
                </section>



                <section class="widget widget-tabs">
                    <header>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#stats" data-toggle="tab">Online</a>
                            </li>
                            <li>
                                <a href="#report" data-toggle="tab">Registrati</a>
                            </li>
                            <li>
                                <a href="#dropdown1" data-toggle="tab">Salutati</a>
                            </li>
                        </ul>
                    </header>
                    <div class="body tab-content">
                        <div id="stats" class="tab-pane active clearfix">
                            {% online_users 5 as last_online_users %}
                            <h5 class="tab-header"><i class="icon-group"></i> Ultimi soci online</h5>
                            <ul class="users-list">
                                {% for u in last_online_users %}
                                <li>
                                    {% thumbnail u.get_profile.photo "50x50"  as im %}
                                        <img class="pull-left img-circle" src="{{ im.url }}" />
                                    {% empty %}
                                        <img class="pull-left img-circle" src="{{ STATIC_URL }}images/fusolab_unnamed_avatar.jpg" />
                                    {% endthumbnail %}
                                    <div class="user-info">
                                        <div class="name"><a href="#">{{u.first_name }}</a></div>
                                        <div class="position">Nickname: {{ u.username }}</div>
                                        <div class="time">Entrato/a da {{ u.last_login|timesince }}</div>
                                    </div>
                                </li>
                                {% empty %}
                                    <li>Nessuno :(</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="report" class="tab-pane">
                            {% last_registers 5 as last_registers_users %}
                            <h5 class="tab-header"><i class="icon-star"></i> Ultimi utenti registati</h5>
                            <ul class="users-list user-list-no-hover">
                                {% for u in last_registers_users %} 
                                <li>
                                    {% thumbnail u.get_profile.photo "50x50"  as im %}
                                        <img class="pull-left img-circle" src="{{ im.url }}" />
                                    {% empty %}
                                        <img class="pull-left img-circle" src="{{ STATIC_URL }}images/fusolab_unnamed_avatar.jpg" />
                                    {% endthumbnail %}
                                    <div class="user-info">
                                        <div class="name"><a href="#">{{ u.first_name }}</a></div>
                                        <div class="position">Nickname: {{ u.username }}</div>
                                        <div class="time">Registrato/a il: {{ u.date_joined|date:"SHORT_DATE_FORMAT" }}</div>
                                    </div>
                                </li>
                                {% empty %}
                                    <li>Nessuno :(</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="dropdown1" class="tab-pane">
                            {% last_salutati 5 as last_salutati_greetings %}
                            <h5 class="tab-header"><i class="icon-comments"></i> Salutati</h5>
                            <ul class="users-list">
                                {% for g in last_salutati_greetings  %}
                                <li>
                                    {% thumbnail g.user.get_profile.photo "50x50"  as im %}
                                        <img class="pull-left img-circle" src="{{ im.url }}" />
                                    {% empty %}
                                        <img class="pull-left img-circle" src="{{ STATIC_URL }}images/fusolab_unnamed_avatar.jpg" />
                                    {% endthumbnail %}
                                    <div class="user-info">
                                        <div class="name"><a href="#">{{ g.user.user.first_name }}</a></div>
                                        <div class="position">Nickname: {{ g.user.user.username }}</div>
                                        <div class="time">Salutato/a da {{ g.date|timesince }}</div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="widget">
                    <form method="post" >
                        <header>
                            <h4>
                                <i class="icon-magic"></i>
                                Cambia i colori del bar 
                            </h4>
                        </header>
                        <div class="body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="control-group">
                                        <label for="color-bar-sopra" class="control-label">Bancone di sopra</label>
                                        <div class="input-group">
                                            <input id="color-bar-sopra" class="form-control colorpicker" type="text" name="color" value="#eac85e">
                                            <span id="color-holder-bar-sopra" class="input-group-addon" style="background-color: rgb(125, 52, 194);">&nbsp;&nbsp;&nbsp;</span>
                                            <span class="input-group-btn">
                                                <button type="button" id="mode-bar-sopra" class="btn btn-default">Cambia Mode</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="color-bar-sotto" class="control-label">Bancone di sotto</label>
                                        <div class="input-group">
                                            <input id="color-bar-sotto" class="form-control colorpicker" type="text" name="color" value="#eac85e">
                                            <span id="color-holder-bar-sotto" class="input-group-addon" style="background-color: rgb(125, 52, 194);">&nbsp;&nbsp;&nbsp;</span>
                                            <span class="input-group-btn">
                                                <button type="button" id="mode-bar-sotto" class="btn btn-default">Cambia Mode</button>
                                            </span>
                                        </div>
                                    </div>
                                    <br/>
                                    <blockquote>Seleziona il colore che vuoi per cambiare le luci dei bar del fusolab. Premi "Cambia Mode" per cambiare l'effetto
                                    </blockquote>
                                </div>
                            </div>
                         </div>
                    </form>
                </section>
                <section class="widget large">
                    <header>
                        <h4>
                            <i class="eicon-share"></i>
                            FusoTweet 
                            <!-- http://www.webdesignermemphis.com/custom-twitter-feed/ -->
                        </h4>
                    </header>
                    <div class="body">
                        <div id="feed" class="feed">
                            <div class="wrapper">
                                <section class="feed-item">
                                    <a class="twitter-timeline" data-chrome="transparent noheader nofooter noscrollbar " href="https://twitter.com/fusolab" data-widget-id="389924790032547840">Tweets by @fusolab</a>
                                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title" id="myModalLabel">Ti perdoniamo</h4>
                </div>
                <div class="modal-body">
                    <h4>Ma non farlo piu'!</h4>
                    <hr>
                    <img id="ecce-homo" >
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Mi Pento!</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


{% endblock %}
{% block 'page_scripts' %}
<!-- page specific -->
<script src="{{ STATIC_URL }}light-blue/js/index.js"></script>
<!-- script src="{{ STATIC_URL }}light-blue/js/chat.js"></script -->
<script src="{{ STATIC_URL }}/js/salutatore.js"></script>
<script src="{{ STATIC_URL }}/js/baraled.js"></script>

<script type="text/javascript"> 

$('#color-bar-sotto').colorpicker().on('changeColor', function(ev){
        $("#color-holder-bar-sotto").css("backgroundColor", ev.color.toHex());
        var x = ev.color.toHex().substring(1);
        $.get( "/ingresso/change_color_bancone_sotto/" + String(x) + "/");

});
$('#color-bar-sopra').colorpicker().on('changeColor', function(ev){
        $("#color-holder-bar-sopra").css("backgroundColor", ev.color.toHex());
        var x = ev.color.toHex().substring(1);
        $.get( "/ingresso/change_color_bancone_sopra/" + String(x) + "/");
});
$(document).on('click', '#mode-bar-sopra', function(e) {
   $.get("/ingresso/change_mode_bancone_sopra/");
});

$(document).on('click', '#mode-bar-sotto', function(e) {
   $.get("/ingresso/change_mode_bancone_sotto/");
});

$("#salutatore-messages").slimscroll({
    height: '240px',
    size: '5px',
    alwaysVisible: true,
    railVisible: true
});

$("#baraled-messages").slimscroll({
    height: '240px',
    size: '5px',
    alwaysVisible: true,
    railVisible: true
});



{% thumbnail request.user.get_profile.photo "50x50"  as im %}
var avatar_url = "{{ im.url }}";
{% empty %}
var avatar_url = "{{ STATIC_URL }}images/fusolab_unnamed_avatar.jpg";
{% endthumbnail %}
var myname = "{{ request.user.username }}";

</script>


<script type="text/template" id="message-template">
    <div class="chat-message">
        <div class="sender pull-left">
            <div class="icon">
                <img src="<%- image %>" class="img-circle" alt="">
            </div>
            <div class="time">
                <%- date %>
            </div>
        </div>
        <div class="chat-message-body">
            <span class="arrow"></span>
            <div class="sender"><a href="#"><%- sender %></a></div>
            <div class="text">
                <%- text %>
            </div>
        </div>
    </div>
</script>

{% endblock %}

{% block 'bottom' %}
{% endblock %}
