{% extends "registration/base.html" %}

{% block title %}Inserisci gli ultimi dati{% endblock %}

{% block content %}
  {% load humanize %}
  {% if account %}
      <h1>Wow! Sei stato aggiunto con sucesso!</h1>
      <p>Profilo aggiunto con successo! Torna alla <a href="/">home</a>.</p>
  {% else %}
    <p>Errore, forse la tua chiave di attivazione e' scaduta? oppure l'hai gia' attivata?</p>
  {% endif %}
{% endblock %}
{% block sidebar %}
<h3>Perche' iscriversi?</h3>

<p>Il fusolab è un'associazione e per legge, per accedere ai locali dell'associazione devi iscriverti</p>
<p>Inoltre iscrivendoti ti invieremo il calendario delle iniziative mensilmente</p>
<p>Infine in un futuro non molto lontano, da questo pannello, se iscritto, potrai interagire con il fusolab...</p>
{% endblock %}
