<html>


{% load ifusergroup %}
{% load url from future %}
{% load current from navigation %}

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}Benvenuto al fusolab{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/smoothness/jquery-ui-1.10.3.custom.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
  <script type="text/javascript" src="/static/js/jquery-1.9.1.js"></script>  
  <script type="text/javascript" src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>  
  <script type="text/javascript"> 
    

      /*
  $(function() {
          $( "#id_born_date" ).datepicker({dateFormat: 'dd/mm/yy'});
  });
  */
  </script>
 {% block js %} 
 {% endblock %}
</head>

<body id="">
  <div id="main">
    {% block header %}
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">Fusolab<span class="logo_colour">2.0</span></a></h1>
          <h2>Laboratorio Creativo</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="{% current 'home' %}"><a href="{% url 'home' %}">Home</a></li>
            
        {% if user.is_authenticated %}
            {% ifusergroup turnisti %}
                <li class="{% current 'open_gate' %}"><a href="{% url 'open_gate' %}">Apri Cancello</a></li>
                <li class="{% current 'card' %}"><a href="{% url 'card' %}">Tessere</a></li>
                <li class="{% current 'barcash' %}"><a href="{% url 'barcash' %}">Cassa Bar</a></li>
                <li class="{% current 'reports_active' %}"><a href="{% url 'reports' %}">Bilancio</a></li>
            {% else %}
                <li class="{% current 'statuto' %}"><a href="{% url 'statuto' %}">Statuto</a></li>
            {% endifusergroup %}
            <li class="{% current 'edit' %}"><a href="{% url 'edit' %}">Modifica Profilo</a></li>
            <li class="{% current 'auth_logout' %}"><a href="{% url 'auth_logout' %}">Logout</a></li>
        {% else %}
            <li class="{% current 'statuto' %}"><a href="{% url 'statuto' %}">Statuto</a></li>
            <li class="{% current 'registration_register' %}"><a href="{% url 'registration_register' %}">Registrati</a></li>
            <li class="{% current 'auth_login' %}"><a href="{% url 'auth_login' %}">Log-in</a></li>
        {% endif %}
        {% if user.is_staff %}
            <li><a href="/admin">Admin</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
    {% endblock %}
    <div id="content_header"></div>
    <div id="site_content">
     
      <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            {% block sidebar %}
                <!-- img src="/static/images/logo_fusolab_old_300.png" width="150" heigth="150" /-->
                <img src="/static/images/fusolab_logo.png" width="150" heigth="150" />
                <h3>Che cos'e' il fusolab?</h3>
              
                Oltre che sede romana della web-radio libera <a href="http://www.fusoradio.net">Fusoradio</a> il Fusolab è un'associazione nata nel 2006 senza scopo di lucro.<br />
                L'associazione intende sviluppare e diffondere una visione critica, alternativa e antagonista del modello sociale culturale ed economico vigente, attraverso la condivisione di spazi, conoscenze e strumenti che si maturi e concretizzi tramite l'analisi la ricerca e l'azione diretta nei seguenti ambiti:
                <ul>
                    <li>produzione e organizzazione di iniziative culturali (musica, esposizioni, teatro, cineforum) 
                    <li>consumo critico 
                    <li>sostenibilita' ambientale 
                    <li>snformazione e mezzi di comunicazione 
                    <li>partecipazione attiva alla vita del territorio 
                    <li>intercultura
                    <li>accesso al sapere
                    <li>istruzione.
                </p>
           {% endblock %} 
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
    {% block content %}
    {% endblock %}
      </div>
    </div>
     
    {% block footer %}
    <div id="content_footer"></div>
    <div id="footer">
        Fusolab 2.0 -  Viale della Bella Villa, 94 00172 Roma 
    </div>
    {% endblock %}
  </div>
</body>
</html>
