{% extends "registration/base.html" %}

{% load thumbnail %}

{% block title %}Modifica {% endblock %}

{% block content %}

  <h1>Modifica il tuo profilo</h1>

  {% if form.errors %}
  <p class="errors">Correggi gli errori qui sotto: {{ form.non_field_errors }}</p>
  {% endif %}
  
  <form enctype="multipart/form-data" method="post" action="" class="wide">
    <fieldset>  
    <legend>I tuoi dati</legend>  
	{% csrf_token %}
    {{ form.as_p }}
    </fieldset>
    <p class="submit"><input type="submit" value="Salva &rarr;"></p>
  </form>
  
{% endblock %}
{% block sidebar %}
<h3>Perche' iscriversi?</h3>

<p>Il fusolab è un'associazione e per legge, per accedere ai locali dell'associazione devi iscriverti</p>
<p>Inoltre iscrivendoti ti invieremo il calendario delle iniziative mensilmente</p>
<p>Infine in un futuro non molto lontano, da questo pannello, se iscritto, potrai interagire con il fusolab...</p>
{% endblock %}
