{% extends "registration/base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

<h1>Log in</h1>

{% if form.errors %}
<p class="error">Correggi i seguenti errori:</p>
{{  form.non_field_errors }}
{% endif %}

<form method="post" action="?next={{ next|default:"/" }}">{% csrf_token %}
<dl>
<p>
    <dt><label for="id_username">Username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
    <dd>{{ form.username }}</dd>
</p>
<p>
    <dt><label for="id_password">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
    <dd>{{ form.password }}</dd>
</p>
<p>
<dt><input class="button blue" type="submit" value="Log in" /></dt>
</p>
<a class="button green" href="/accounts/password/reset/">Dimenticato username/password?</a>
</dl>
</form>
{% endblock %}

{% block sidebar %}
<p>Se non hai ancora un account, puoi sempre <a href="/accounts/register/">registrarti</a>!
{% endblock %}
