{% extends 'base.html' %}

{% block title %}Password resettata{% endblock %}

{% block 'content' %}
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">La tua password e' stata resettata</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="body">
                <p>Adesso con la nuova password puoi fare il  
                <a class="btn btn-primary" href="{% url 'auth_login' %}">Login <i class="icon-eicon-login"></i></a> 
                </p>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
