{% extends 'base.html' %}

{% block title %}Richiesta password reset{% endblock %}

{% block 'content' %}
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">La tua password sta per essere resettata</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="body">
                <p>Ti abbiamo mandato via email le istruzioni per resettare la tua password. Dovresti riceverle a breve.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
