{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}

{% block 'content' %}
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Richiesta di reset password</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <section class="widget">
                <div class="body">
                    <p>Inserisci la tua email. Ti manderemo le istruzioni per resettre la tua password</p>
                    <form action="" novalidate="novalidate" data-validate="parsley" method="post">
                        {% csrf_token %}
                        <div class="control-group">
                            <div class="controls form-group">
                                <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" value="{{ form.email.value |default_if_none:"" }}" class="form-control parsley-validated {% if form.email.errors %}parsley-error{% endif %}" data-trigger="change" data-validation-minlength="5" placeholder="La tua email" {% if form.email.field.required %}required="required"{% endif %}>
                                {% if form.email.errors %}
                                <ul class="parsley-error-list" style="display: block;">
                                    <li class="type" style="display: list-item;">{{ form.email.errors.as_text }}</li>
                                </ul>
                                {% endif %} 
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-danger btn-block btn-lg">Richiedi il reset</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}


