{% extends 'base.html' %}

{% block title %}Cambio Password{% endblock %}

{% block 'content' %}
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-title">Richiesta di cambio password</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <section class="widget">
                <div class="body">
                    <p>Inserisci la tua vecchia password per motivi di sicurezza, e ripeti due volte la tua nuova password per accertarci che tu la scriva correttamente</p>
                    <form action="" novalidate="novalidate" data-validate="parsley" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <legend class="section">Modifica la tua password</legend>

                            <div class="control-group">
                                <label class="control-label" for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }} {% if form.old_password.field.required %}<span class="required">*</span>{% endif %}</label>
                                <div class="controls form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                                        <input type="password" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.html_name }}" {% if form.old_password.field.required %}required="required" {% endif %} class="col-xs-12 form-control parsley-validated" data-trigger="change" data-validation-minlength="5" placeholder="Password (se è la prima volta o se la vuoi cambiare)">
                                    </div>
                                        {% if form.old_password.errors %}
                                        <ul class="parsley-error-list" style="display: block;">
                                            <li class="type" style="display: list-item;">{{ form.old_password.errors.as_text }}</li>
                                        </ul>
                                        {% endif %} 
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }} {% if form.new_password1.field.required %}<span class="required">*</span>{% endif %}</label>
                                <div class="controls form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                                        <input type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}" {% if form.new_password1.field.required %}required="required" {% endif %} class="col-xs-12 form-control parsley-validated" data-trigger="change" data-validation-minlength="5" placeholder="Password (se è la prima volta o se la vuoi cambiare)">
                                    </div>
                                        {% if form.new_password1.errors %}
                                        <ul class="parsley-error-list" style="display: block;">
                                            <li class="type" style="display: list-item;">{{ form.new_password1.errors.as_text }}</li>
                                        </ul>
                                        {% endif %} 
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }} {% if form.new_password2.field.required %}<span class="required">*</span>{% endif %}</label>
                                <div class="controls form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                                        <input type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}" {% if form.new_password2.field.required %}required="required" {% endif %} class="col-xs-12 form-control parsley-validated" data-trigger="change" data-validation-minlength="5" placeholder="Ripeti la password" >
                                    </div>
                                        {% if form.new_password2.errors %}
                                        <ul class="parsley-error-list" style="display: block;">
                                            <li class="type" style="display: list-item;">{{ form.new_password2.errors.as_text }}</li>
                                        </ul>
                                        {% endif %} 
                                </div>
                            </div>

                        </fieldset>
                        <div>
                            <button type="submit" class="btn btn-danger btn-block btn-lg">Cambia la password</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}

