{% extends "registration/base.html" %}

{% block title %}Registrazione completata{% endblock %}

{% block content %}
<h1>Controlla la tua casella di posta</h1>
<p>Ti abbiamo mandato un link con il codice per attivare il tuo profilo.</p>
{% endblock %}
{% block sidebar %}
<h3>Perche' iscriversi?</h3>

<p>Il fusolab è un'associazione e per legge, per accedere ai locali dell'associazione devi iscriverti</p>
<p>Inoltre iscrivendoti ti invieremo il calendario delle iniziative mensilmente</p>
<p>Infine in un futuro non molto lontano, da questo pannello, se iscritto, potrai interagire con il fusolab...</p>
{% endblock %}
