<!DOCTYPE html>
<html>
    <head>
        <title>Listino</title>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/listino.css" />
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script>  
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.webticker.js"></script>  
        <script type="text/javascript" src="{{ STATIC_URL }}js/slick/slick.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/slick/slick.css"/>

        <script type="text/javascript">
        $(function(){
            // scroller
            // http://jonmifsud.com/open-source/jquery/jquery-webticker/
            jQuery('#stock-ticker').webTicker();
            jQuery("#message-ticker").webTicker({speed: 80});  
            // carousel
            // http://kenwheeler.github.io/slick/
            $('.carousel').slick({
                autoplay: true,
                autoplaySpeed : 7000,
                arrows: false,
                fade: true,
                adaptiveHeight: true,
                slidesToShow: 1
            });
        });
        // polling
        (function poll() {
            setTimeout(function() {
                $.ajax({
                    url: "{% url 'bar_poll_price_list' %}",
                    type: "GET",
                    success: function(data) {
                        // update messages
                        if (data.prices.length > 0) {
                            var messages = '';
                            $(data.messages).each(function( index ) {
                                messages +=  '<li>' + data.messages[index] + '</li>';
                            });
                            $("#message-ticker").webTicker('update', messages);
                            // update stock prices
                            messages = '';
                            $(data.stockmarket).each(function( index ) {
                                messages +=  '<li>' + data.stockmarket[index] + '</li>';
                            });
                            $("#stock-ticker").webTicker('update', messages);
                            // update prices
                            $(data.prices).each(function( index ) {
                                if ( $('.item_' + data.prices[index].id).length ) {
                                    $('.item_' + data.prices[index].id + ' td.price').val(data.prices.price);
                                }
                            });
                            
                            console.log(data.prices);
                            console.log(data.stockmarket);
                        }
                    },
                    dataType: "json",
                    complete: poll,
                    timeout: 8000
                })
            }, 30000);
        })()  
        </script>
    </head>
    <body>
        <div class="header"></div>
        <table class="listino">
            <tbody>
                {% for item in items %}
                <tr class="item_{{item.id}}">
                    <td class="item-name">{{ item.name.0 }}<small> {{ item.name.1 }}</small><img src="{{ STATIC_URL }}images/price_separator.png"></td><td class="price">{{ item.cost }} &euro;</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="separator"></div>
        <div class="info-products">
            <div class="carousel">
                <!-- div><img src="{{ STATIC_URL }}images/listino/cuba-libre.jpg"/></div>
                <div><img src="{{ STATIC_URL }}images/listino/mojito.jpg"/></div>
                <div><img src="{{ STATIC_URL }}images/listino/moscow_mule.jpg"/></div>
                <div><img src="{{ STATIC_URL }}images/listino/pina_colada.jpg"/></div -->
                <div><img src="{{ STATIC_URL }}images/listino/prova_cocktail.jpg"/></div>
            </div>
        </div>
        <div class="scroll-prices">
            <ul id="stock-ticker">
                <li>Ingressi (INR) 142.0 <span class="rise">&#9650;</span></li> 
                <li>BIRRE (BRR) 412.0 <span class="rise">&#9650;</span></li> 
                <li>COCKTAIL (CKT) 112.0 <span class="dawn">&#9660;</span></li> 
                <li>Ingressi (INR) 142.0 <span class="rise">&#9650;</span></li> 
                <li>BIRRE (BRR) 412.0 <span class="rise">&#9650;</span></li> 
                <li>COCKTAIL (CKT) 112.0 <span class="dawn">&#9660;</span></li> 
                <li>Ingressi (INR) 142.0 <span class="rise">&#9650;</span></li> 
                <li>BIRRE (BRR) 412.0 <span class="rise">&#9650;</span></li> 
                <li>COCKTAIL (CKT) 112.0 <span class="dawn">&#9660;</span></li> 
        </div>
        <div class="scroll-messages">
            <ul id="message-ticker">
                <li>ATTENZIONE si avvisano i gentilissimi soci fusolab tra poco cambiera' il listino</li> 
                <li>Birra in calo: colpa del caldo?</li>
                <li>Cocktail in aumento smodato: hai mai provato il fusococktail?</li>
                <li>Arrivano i nostri: picco di 5 ingressi 2 minuti fa</li>
            </ul>
        </div>
        <div class="footer"></div>
    </body>
</html>

