{% extends "registration/base.html" %}

{% block title %}Fai la tessera{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    /* on click on search button, call ajax */
    $('#searchSubmit').click(function() {
        q = $('#q').val();
        // $('#results').html('&nbsp;').load('{ url user_search }?q=' + q, 
        $('#results').html('&nbsp;').load('/users/' + encodeURIComponent(q) + '/', 
            function (responseText, textStatus, req) {
                if (textStatus == "error") {
                    return "oh noes!!!!";
                }
            });
    });
    /* bind enter to textinput card */
    $('#q').keypress(function (e) {
      if (e.which == 13) {
        $('#searchSubmit').trigger('click');
      }
    });
    /* read the card */
    $("#read-card").live('click', function() {
        $.ajax({
            type: 'GET',
            url: "{{ URL_CARD }}",
            data: {},
            dataType: "json",
            success: function(card) {
            if (card && card.sn.length !==  0)
                    // $("#read-card-value").text("Tessera numero: " + card.sn);
                    $("#read-card-value").html('&nbsp;').load('/viewcard/?sn=' + card.sn);
                else 
                     alert("Non e' stata avvicinata nessuna tessera al lettore oppure il lettore non e' collegato correttamente.");
            },
            error: function(x,y,z) {
                alert(x.responseText);
            }
        });
    });
    /* register entrance */
    
    $("#record-entrance").live('click', function() {
        $.ajax({
            type: 'GET',
            url: "{{ URL_CARD }}",
            data: {},
            dataType: "json", 
            success: function(card) {
                if (card && card.sn.length !==  0) {
                    var cost = $('#entrance-cost').val();
                    if (isNaN(parseFloat(cost))) {
                        alert("Il costo dell'entrata non e' valido");
                        return;
                    }
                    $.get('/entrance/' + card.sn + '/' + cost +'/', function(data) {
                        $('#record-entrance-value').text("Ingresso registrato")
                     })
                    .success(function() { })
                    .error(function() { alert("Errore, la tessera non appartiene a nessun socio oppure il costo non e' valido "); })
                    .complete(function() {  });
                } else  {
                     alert("Non e' stata avvicinata nessuna tessera al lettore oppure il lettore non e' collegato correttamente.");
                }
            },
            error: function(x,y,z) {
                alert(x.responseText);
            }
        });
    });
    
    /* bind a card */
    $(".make-card").live('click', function() {
        var userid = this.id; 
        if (userid) {
            $.getJSON( '{{ URL_CARD }}', function(card) { //read the card
                if (card && card.sn.length !== 0) {
                    $.ajax({    //write in the db
                    url: "/makecard/",
                    type: "GET",
                    data: {'userid': userid, 'sn': card.sn},
                    dataType: "html",
                    success: function(resp) {
                        $("#output").html(resp)
                    }
                    });
                } else {
                     alert("Non e' stata avvicinata nessuna tessera al lettore oppure il lettore non e' collegato correttamente.");
                }
            }); 
        } else {
            alert("Errore: no user");
        }
    });
});

$(document).ajaxStart(function() {
    $('#spinner').show();
}).ajaxStop(function() {
    $('#spinner').hide();
});
</script>
{% endblock %}
{% block content %}
<h1>Tessere</h1>
<span id="output"></span>
<div id="carddiv">
    <input id="q" type="text"/>
    <input id="searchSubmit" class="button green" type="submit" value="Cerca"/>
    <br/>
    <span class="hint">Inserisci l'e-mail o il cognome:</span>
    <div class="margin">
        <span id="spinner"><img src="{{ STATIC_URL }}images/spinner.gif"/></span>
        <div id="results"></div>
    </div>
</div>

<br/>
<p>
<a class="button pink" href="#" id='read-card'>Leggi tessera</a><span id="read-card-value"></span>
</p>
<br/>
<p>
<span>Costo ingresso: <input type="text" id="entrance-cost"></span> <br>
<a class="button orange" href="#" id='record-entrance'>Registra Ingresso</a><span id="record-entrance-value"></span>
</p>
<br/>
<p>
<a class="button blue" href="/admin">Vai al pannello di amministrazione</a>
</p>
<a href="/admin/fusoci/entrancecashbalance/">Contanti iniziali e finali</a> 
{% endblock %}

