{% extends "registration/base.html" %}

{% block title %}Stats{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/jqplot/jquery.jqplot.js"></script> 
<script type="text/javascript" src="/static/js/jqplot/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/jqplot.barRenderer.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/js/jqplot/jquery.jqplot.min.css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<script type="text/javascript">

var jsonurl = "";
var xformat = "";
var yformat = "";

var ajaxDataRenderer = function(url, plot, options) {
    var ret = null;
    var there_are_values = false;
    $.ajax({
      // have to use synchronous here, else the function 
      // will return before the data is fetched
      async: false,
      url: url,
      dataType:"json",
      success: function(data) {
        plot.legend.labels = data.labels;
        ret = data.data;
        $.each(ret, function(index, value) {
            if (value.length > 0)
                there_are_values = true;
        });
        if (! there_are_values ) {
            $('#chart-title').text('Non ci sono dati disponibili.');
            return null;
        }
      }
    });
    return ret;
};


function plot_stat(xformat, yformat, jsonurl)  {
  var plot = $.jqplot('chart', jsonurl, {
    dataRenderer: ajaxDataRenderer,
    dataRendererOptions: {
      unusedOptionalUrl: jsonurl
    },
    axes:{
      xaxis:{
        renderer:$.jqplot.DateAxisRenderer,
          tickOptions:{
            formatString: xformat
          }
      },
      yaxis:{
        min: 0,
        tickOptions:{
          formatString: yformat
        }
      }
    },
    seriesDefaults:{
        showMarker: false,
        shadow: false,
        rendererOptions: {
          smooth: true
        }
    },
    highlighter: {
      show: false
    },
    cursor: {
      show: true,
      tooltipLocation:'sw'
    },
    legend: {
        location: 'nw',
        show: true
    }
  }); 

}

$(document).ready(function(){
    $.jqplot.config.enablePlugins = true;
    $.jqplot.config.catchErrors = true;
    $('#change-day').live("click", function() {
        $("#bar-daily").trigger("click"); 
    });
    $('#change-day-mo').live("click", function() {
        $("#money-bar-daily").trigger("click"); 
    });
    $("a.button").live("click", function(){ 
        if($(this).is('#bar-daily')) {
            $("#chart-title").text("Consumazioni giornaliere bar");
            yformat = "%d";
            xformat = "%#H:%M";
            if ($("#datepicker").length > 0 && $("#datepicker").datepicker( "getDate" ) != null) {
                jsonurl="/devstats/bar/daily/" + $("#datepicker").val() +"/"; 
            } else {
                jsonurl="/devstats/bar/daily/{{ mnow|date:"d/m/Y" }}/"
            }
            $("#extra").html("<p>Cambia giorno: <input type='text' id='datepicker' /> <a id='change-day' href='#'>Vai</a></p>");
            $( "#datepicker" ).datepicker({
                dateFormat: "dd/mm/yy"
            });
        } else if ($(this).is('#bar-monthly'))  {
            $("#chart-title").text("Consumazioni mensili bar");
            yformat = "%d";
            xformat = "%b&nbsp;%#d %#H:%M";
            jsonurl="/devstats/bar/monthly/{{ mnow|date:"d/m/Y" }}/"
            $("#extra").html("");
        } else if ($(this).is('#money-bar-daily'))  {
            $("#chart-title").text("Incasso bar giornaliero");
            yformat = "EUR %.2f";
            xformat = "%#H:%M";
            if ($("#datepickermo").length > 0 && $("#datepickermo").datepicker( "getDate" ) != null) {
                jsonurl="/devstats/money-bar/daily/" + $("#datepickermo").val() +"/"; 
            } else {
                jsonurl="/devstats/money-bar/daily/{{ mnow|date:"d/m/Y" }}/"
            }
            $("#extra").html("<p>Cambia giorno: <input type='text' id='datepickermo' /> <a id='change-day-mo' href='#'>Vai</a></p>");
            $( "#datepickermo" ).datepicker({
                dateFormat: "dd/mm/yy"
            });
        } else if ($(this).is('#money-bar-monthly'))  {
            $("#chart-title").text("Incasso bar mensile");
            yformat = "EUR %.2f";
            xformat = "%b&nbsp;%#d %#H:%M";
            jsonurl="/devstats/money-bar/monthly/{{ mnow|date:"d/m/Y" }}/"
            $("#extra").html("");
        } 
        $("#chart").empty();
        plot_stat(xformat, yformat, jsonurl);  
    });
});
</script>
{% endblock %}
{% block content %}
<h1>Stats</h1>
<table>
    <tr>
        <td><a href="#" id="bar-daily" class="button blue">Consumazioni Bar Giornaliero</a></td>
        <td><a href="#" id="bar-monthly" class="button blue">Consumazioni Bar Mensile</a></td>
        <td><a href="#" id="money-bar-daily" class="button orange">Incasso Bar Giornaliero</a></td>
        <td><a href="#" id="money-bar-monthly" class="button orange">Incasso Bar Mensile</a></td>
    </tr><tr>
        <td><a href="#" id="entrance-daily" class="button green">Ingressi Giornaliero</a></td>
        <td><a href="#" id="entrance-monthly" class="button green">Ingressi Mensile</a></td>
        <td><a href="#" id="money-entrance-daily" class="button orange">Incasso Ingressi Giornaliero</a></td>
        <td><a href="#" id="money-entrance-monthly" class="button orange">Incasso Ingressi Mensile</a></td>
    </tr><tr>
        <td><a href="#" id="money-total-daily" class="button orange">Incasso Totale Giornaliero</a></td>
        <td><a href="#" id="money-total-monthly" class="button orange">Incasso Totale Mensile</a></td>
</table>
       <h2 id="chart-title"></h2>
       <div id="extra"></div>
       <div id="chart" style="height:400px;width:600px;"></div>
{% endblock %}
