{% extends "registration/base.html" %}

{% block title %}Trends{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/js/jqplot/jquery.jqplot.js"></script> 
<script type="text/javascript" src="/static/js/jqplot/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/jqplot/jqplot.barRenderer.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/js/jqplot/jquery.jqplot.min.css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<script type="text/javascript">

var jsonurl = "";
var xformat = "";
var yformat = "";
//var legenda = [];

var ajaxTotalRenderer = function(url, plot, options) {
    var ret = null;
    var there_are_values = false;
    $.ajax({
      // have to use synchronous here, else the function 
      // will return before the data is fetched
      async: false,
      url: url,
      dataType:"json",
      success: function(data) {
        plot.legend.labels = data.labels;
        ret = data.total;
        $.each(ret, function(index, value) {
            if (value.length > 0)
                there_are_values = true;
        });
        if (! there_are_values ) {
            $('#chart-title').text('Non ci sono dati disponibili.');
            return null;
        }
      }
    });
    return ret;
};

var ajaxTrendRenderer = function(url, plot, options) {
    var ret = null;
    var there_are_values = false;
    $.ajax({
      // have to use synchronous here, else the function 
      // will return before the data is fetched
      async: false,
      url: url,
      dataType:"json",
      success: function(data) {
        plot.series.label = data.labels;
        ret = data.trend;
        $.each(ret, function(index, value) {
            if (value.length > 0)
                there_are_values = true;
        });
        if (! there_are_values ) {
            $('#chart-title').text('Non ci sono dati disponibili.');
            return null;
        }
      }
    });
    return ret;
};


function plot_total(xformat, yformat, jsonurl)  {
	var plot = $.jqplot('chart-total', jsonurl, {
		dataRenderer: ajaxTotalRenderer,
		dataRendererOptions: {
			unusedOptionalUrl: jsonurl
		},
		seriesDefaults:{
			renderer:$.jqplot.BarRenderer,
			rendererOptions: {
                // Set the varyBarColor option to true to use different colors for each bar.
                // The default series colors are used.
                varyBarColor: false,
//                showLabel: false,
            },
//            pointLabels: {show: false}
		},
//		tickRenderer: $.jqplot.AxisTickRenderer, 
//		tickOptions: {  	
//			showLabel: false,
//		},		
		axes: {
			// Use a category axis on the x axis and use our custom ticks.
			xaxis: {
                renderer: $.jqplot.CategoryAxisRenderer,
//                showTicks: false,
//                show: false,
            },
            // Pad the y axis just a little so bars can get close to, but
            // not touch, the grid boundaries.  1.2 is the default padding.
 //           yaxis:{
//				min: 0,
//				tickOptions:{
//					formatString: yformat
//				}
//			}
        },
        legend: {
			location: 'nw',
			show: true
    	}
	}); 
}


function plot_trend(xformat, yformat, jsonurl)  {
	var plot = $.jqplot('chart-trend', jsonurl, {
		dataRenderer: ajaxTrendRenderer,
		dataRendererOptions: {
			unusedOptionalUrl: jsonurl
		},
		seriesDefaults:{
			renderer:$.jqplot.BarRenderer,
			rendererOptions: {
//			fillToZero: true,
            barPadding: 0,      // number of pixels between adjacent bars in the same
//                                // group (same category or bin).
//            barMargin: 200,      // number of pixels between adjacent groups of bars.
//            barDirection: 'vertical', // vertical or horizontal.
//            barWidth: null,     // width of the bars.  null to calculate automatically.
//            shadowOffset: 2,    // offset from the bar edge to stroke the shadow.
//            shadowDepth: 1,     // nuber of strokes to make for the shadow.
//            shadowAlpha: 0.5,   // transparency of the shadow.
        },
			pointLabels: { show: true }
		}, 
		axes: {
			// Use a category axis on the x axis and use our custom ticks.
			xaxis:{
				renderer:$.jqplot.DateAxisRenderer,
				tickOptions:{
					numberTicks: 1000,
					formatString: xformat,
				}
			},
            // Pad the y axis just a little so bars can get close to, but
            // not touch, the grid boundaries.  1.2 is the default padding.
            yaxis:{
//				min: 0,
//				tickOptions:{
//					formatString: yformat
//				}
			}
        }
	}); 

}



$(document).ready(function(){
    $.jqplot.config.enablePlugins = true;
    $.jqplot.config.catchErrors = true;
    $('#change-day').live("click", function() {
        $("#bar-daily").trigger("click"); 
    });
    $('#change-day-mo').live("click", function() {
        $("#money-bar-daily").trigger("click"); 
    });
    $("a.button").live("click", function(){ 
        if($(this).is('#bar-daily')) {
            $("#chart-title").text("Consumazioni giornaliere bar");
            yformat = "%d";
            xformat = "%#H:%M";
            if ($("#datepicker").length > 0 && $("#datepicker").datepicker( "getDate" ) != null) {
                jsonurl="/trends/bar/daily/" + $("#datepicker").val() +"/"; 
            } else {
                jsonurl="/trends/bar/daily/{{ mnow|date:"d/m/Y" }}/"
            }
            $("#extra").html("<p>Cambia giorno: <input type='text' id='datepicker' /> <a id='change-day' href='#'>Vai</a></p>");
            $( "#datepicker" ).datepicker({
                dateFormat: "dd/mm/yy"
            });
        } else if ($(this).is('#bar-monthly'))  {
            $("#chart-title").text("Consumazioni mensili bar");
            yformat = "%d";
            xformat = "%b&nbsp;%#d";
            jsonurl="/trends/bar/monthly/{{ mnow|date:"d/m/Y" }}/"
            $("#extra").html("");
        } else if ($(this).is('#money-bar-daily'))  {
            $("#chart-title").text("Incasso bar giornaliero");
            yformatrendst = "EUR %.2f";
            xformat = "%#H:%M";
            if ($("#datepickermo").length > 0 && $("#datepickermo").datepicker( "getDate" ) != null) {
                jsonurl="/trends/money-bar/daily/" + $("#datepickermo").val() +"/"; 
            } else {
                jsonurl="/trends/money-bar/daily/{{ mnow|date:"d/m/Y" }}/"
            }
            $("#extra").html("<p>Cambia giorno: <input type='text' id='datepickermo' /> <a id='change-day-mo' href='#'>Vai</a></p>");
            $( "#datepickermo" ).datepicker({
                dateFormat: "dd/mm/yy"
            });
        } else if ($(this).is('#money-bar-monthly'))  {
            $("#chart-title").text("Incasso bar mensile");
            yformat = "EUR %.2f";
            xformat = "%b&nbsp;%#d %#H:%M";
            jsonurl="/trends/money-bar/monthly/{{ mnow|date:"d/m/Y" }}/"
            $("#extra").html("");
        } 
        $("#chart-total").empty(); 
        $("#chart-trend").empty(); 
        plot_total(xformat, yformat, jsonurl);
		plot_trend(xformat, yformat, jsonurl);
    });
});
</script>
{% endblock %}
{% block content %}
<h1>Trends</h1>
<table>
    <tr>
        <td><a href="#" id="bar-daily" class="button blue">Consumazioni Bar Giornaliero</a></td>
        <td><a href="#" id="bar-monthly" class="button blue">Consumazioni Bar Mensile</a></td>
        <td><a href="#" id="money-bar-daily" class="button orange">Incasso Bar Giornaliero</a></td>
        <td><a href="#" id="money-bar-monthly" class="button orange">Incasso Bar Mensile</a></td>
    </tr><tr>
        <td><a href="#" id="entrance-daily" class="button green">Ingressi Giornaliero</a></td>
        <td><a href="#" id="entrance-monthly" class="button green">Ingressi Mensile</a></td>
        <td><a href="#" id="money-entrance-daily" class="button orange">Incasso Ingressi Giornaliero</a></td>
        <td><a href="#" id="money-entrance-monthly" class="button orange">Incasso Ingressi Mensile</a></td>
    </tr><tr>
        <td><a href="#" id="money-total-daily" class="button orange">Incasso Totale Giornaliero</a></td>
        <td><a href="#" id="money-total-monthly" class="button orange">Incasso Totale Mensile</a></td>
</table>
       <h2 id="chart-title"></h2>
       <div id="extra"></div>
       <div id="chart-total" style="height:400px;width:600px;"></div>
       <div id="chart-trend" style="height:400px;width:800px;"></div>
{% endblock %}
