<html>
<body>
<table>
    <tr>
        <th></th>
        <th>ultima chiusura</th>
        <th>apertura</th>
    </tr>
    <tr>
        <td>{% if opening_warning %}WARNING{% endif %}
        </td>
        <td>{{ last_closing_amount }}</td>
        <td>{{ opening_amount }}</td>
    </tr>
    <tr>
        <th></th>
        <th>chiusura attesa</th>
        <th>in cassa</th>
    </tr>
    <tr>
        <td>{% if closing_warning %}WARNING{% endif %}
        </td>
        <td>{{ expected_balance }}</td>
        <td>{{ closing_amount }}</td>
    </tr>
</table>
<table>
    <tr>
        <th>data</th>
        <th>apertura</th>
        <th>ricevute</th>
        <th>depositi</th>
        <th>prelievi</th>
        <th>pagamenti</th>
        <th>chiusura</th>
    </tr>
    <tr>
        <td>{{ date }}</td>
        <td>{{ opening_amount }}</td>
        <td>{{ receipt_count }}</td>
        <td>{{ de }}</td>
        <td>{{ wi }}</td>
        <td>{{ pa }}</td>
        <td>{{ closing_amount }}</td>
    </tr>
</table>
{% for i in notes %}
<div>{{ i }}</div>
{% endfor %}

</body>
</html>
