{% extends "registration/base.html" %}

{% block title %}Benvenuto al fusolab{% endblock %}
{% load ifusergroup %}
{% block js %}
{% ifusergroup turnisti %}
<script type="text/javascript"> 
    $(function() {
        $('.date-picker').datepicker( {
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'mm yy',
            onClose: function(dateText, inst) { 
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
                alert(dateText);
                if (dateText != "") {
                       var month = dateText.split(" ")[0];
                       var year = dateText.split(" ")[1];
                       window.location.href = '/reports/excel/' + year + '/' + month + '/';
                }
            },
        });
    });
</script>
<style>
.ui-datepicker-calendar {
    display: none;
    }
</style>
{% endifusergroup %}
{% endblock js %}
{% block content %}
<h1>Benvenuto al fusolab!</h1>
{% if user.is_authenticated %}
<h3>Ciao {{ user.username }}</h3>
<p>Per ora non puoi fare molto:</p>

<a href="/accounts/edit" class="button green">Modifica il tuo profilo</a>
oppure
<a href="/accounts/logout" class="button red">Esci</a>
{% ifusergroup turnisti %}
<br />
<br />
<br />
    <label for="startDate">Visualizza report del mese di :</label>
    <input name="startDate" id="startDate" class="date-picker" />
{% endifusergroup %}
{% else %}
<p>
Per entrare a far parte dell'associazione devi tesserarti. <br />
Immetti i tuoi dati e ritira al fusolab la tua tessera:
</p>
{% comment %}scegli colori da qua http://www.webdesignerwall.com/demo/css-buttons.html {% endcomment %}>
<a href="/accounts/register" class="button green">Registrati</a>
oppure
<a href="/accounts/login" class="button blue">Accedi</a>
{% endif %}
{% endblock %}

