{% extends "registration/base.html" %}
{% load ifbalanceopen %}
{% block title %}Fai la tessera{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.date-picker').datepicker( {
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'dd/mm/yy',
            onClose: function(dateText, inst) { 
                
            },
        });
        $('#make_balance_form').submit(function() {
            var from_date = $('#from_date').val();
            var to_date = $('#to_date').val();
            window.location.href = '/reports/excel/' + from_date + '/' + to_date + '/';
            return false;
        });
            /*
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
             if (dateText != "") {
                       var month = dateText.split(" ")[0];
                       var year = dateText.split(" ")[1];
                       window.location.href = '/reports/excel/' + year + '/' + month + '/';
                }

             
             
             
             */
    });
</script>
{% endblock %}
{% block content %}
<h1>Bilanci</h1>

{% ifbalanceopen ingresso %}
<p>
<a class="button orange" href="{% url daily_stats %}"/>Guarda le entrate della serata</a>
</p>
{% endifbalanceopen %}

<span id="output"></span>
<form id="make_balance_form" action='{% url make_balance %}' />
    <input id="from_date" class="date-picker" type="text"/>
    <input id="to_date" class="date-picker" type="text"/>
    <input id="make_balance" class="button green" type="submit" value="Crea Bilancio"/>
    <br/>
    <span class="hint">Inserisci le date di riferimento:</span>
</form>
<div class="margin">
    <span id="spinner"><img src="{{ STATIC_URL }}images/spinner.gif"/></span>
    <div id="results"></div>
</div>

<br/>
{% endblock %}

